{% extends 'base.html' %}

{% block content %}
    <h2>Мои закладки</h2>
    {% if bookmarks %}
        <ul>
            {% for bookmark in bookmarks %}
                <li>
                    <h3>{{ bookmark.vacancy.name }}</h3>
                    <p>{{ bookmark.vacancy.company }}</p>
                    <a href="{% url 'vacancy_detail' bookmark.vacancy.id %}">Подробнее</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>У вас пока нет сохраненных вакансий.</p>
    {% endif %}
{% endblock %}