<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Вакансии{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Поиск вакансий</h1>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Главная</a></li>
                <li><a href="{% url 'search_vacancies' %}">Поиск вакансий</a></li>
{#                <li><a href="{% url 'bookmarks' %}">Закладки</a></li>#}
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Поиск вакансий. Все права защищены.</p>
    </footer>
</body>
</html>